---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🤘 | Steven Remenapp">
  <main class="container">
    <h1>Build That Thing</h1>
    <p>
      This is the page where I'll collect stuff I'm building just for fun. This
      page will take shape as I build more things. Thanks for checking it out.
    </p>
    <ul>
      <a href="./build-that-thing/svg-halftone-borders">
        <li>SVG Halftone Borders</li>
      </a>
    </ul>
  </main>
</Layout>
