<center class="main-container">
  <table width="500" border="0">
    <tbody>
      <tr>
        <td colspan="5" align="right" valign="top"></td>
      </tr>
      <tr>
        <td colspan="2" align="right" valign="middle">
          <br />
          <br />
          <br />
          <!-- <a href="cmp/pressbox/pressboxframes.html"> -->
          <!-- <img
            src="img/p-pressbox.gif"
            height="56"
            width="131"
            alt="Press Box Shuttle"
          /> -->
          <!-- </a> -->
        </td>
        <td align="center" valign="middle">
          <!-- <a href="cmp/jamcentral/jamcentralframes.html"> -->
          <!-- <img
            src="img/p-jamcentral.gif"
            height="67"
            width="55"
            alt="Jam Central"
          /> -->
          <!-- </a> -->
        </td>
        <td align="center" valign="top">
          <!-- <a href="cmp/bball/bballframes.html"> -->
          <!-- <img
            src="img/p-bball.gif"
            height="62"
            width="62"
            alt="Planet B-Ball"
          /> -->
          <!-- </a> -->
        </td>
        <td align="center" valign="bottom">
          <br />
          <br />
          <!-- <a href="cmp/tunes/tunesframes.html"> -->
          <!-- <img
            src="img/p-lunartunes.gif"
            height="77"
            width="95"
            alt="Lunar Tunes"
          /> -->
          <!-- </a> -->
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <br />
          <br />
          <!-- <a href="cmp/lineup/lineupframes.html"> -->
          <!-- <img src="img/p-lineup.gif" height="52" width="63" alt="The Lineup" /> -->
          <!-- </a> -->
        </td>
        <td colspan="3" rowspan="2" align="right" valign="middle">
          <img
            src="/frontend-ephemerama/logo.gif"
            height="165"
            width="272"
            id="logo"
            alt="Frontend Ephemerama logo"
          />
        </td>
        <td align="right" valign="bottom">
          <!-- <a href="cmp/jump/jumpframes.html"> -->
          <!-- <img src="img/p-jump.gif" height="52" width="58" alt="Jump Station" /> -->
          <!-- </a> -->
        </td>
      </tr>
      <tr>
        <td align="center" valign="bottom">
          <!-- <a href="cmp/junior/juniorframes.html"> -->
          <!-- <img src="img/p-junior.gif" height="57" width="49" alt="Junior Jam" /> -->
          <!-- </a> -->
        </td>
        <td rowspan="2" align="center" valign="top">
          <br />
          <br />
          <!-- <a
            href="https://shop.looneytunes.com/spacejam96?utm_source=SpaceJam1996&utm_medium=Website&utm_campaign=Theatrical2021"
            target="_blank"
          > -->
          <img
            src="/frontend-ephemerama/but-in-the-browser.gif"
            height="77"
            width="120"
            alt="But in the Browser"
          />
          <!-- </a> -->
        </td>
      </tr>
      <tr>
        <td></td>
        <td align="center" valign="top">
          <!-- <a href="cmp/souvenirs/souvenirsframes.html"> -->
          <!-- <img
            src="img/p-souvenirs.gif"
            height="83"
            width="83"
            alt="Stellar Souvenirs"
          /> -->
          <!-- </a> -->
        </td>
        <td align="center" valign="bottom">
          <br />
          <br />
          <br />
          <br />
          <!-- <a href="cmp/sitemap.html"> -->
          <!-- <img src="img/p-sitemap.gif" height="67" width="104" alt="Site Map" /> -->
          <!-- </a> -->
        </td>
        <td align="center" valign="middle">
          <!-- <a href="cmp/behind/behindframes.html"> -->
          <!-- <img
            src="img/p-behind.gif"
            height="63"
            width="67"
            alt="Behind the Jam"
          /> -->
          <!-- </a> -->
        </td>
      </tr>
    </tbody>
  </table>
</center>

<style>
  body {
    margin: 0;
    height: 100vh;
    background-color: #000;
    background-image: url("/frontend-ephemerama/bg_stars.gif");
  }

  .main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
  }

  img {
    border: none;

    &:not(#logo):hover {
      cursor: pointer;
    }
  }
</style>
