---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🤘">
  <main>
    <div class="emoji">🤘</div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 20%,
      rgba(110, 9, 121, 1) 40%,
      rgba(74, 85, 164, 1) 67%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }
  .emoji {
    font-size: 10em;
    user-select: none;
    transform-origin: bottom;
    filter: drop-shadow(0 0 42px #e40ab1);
    animation: 2s rotateTheHorns infinite;
  }

  @keyframes rotateTheHorns {
    0% {
      transform: translateY(0) rotateY(0deg);
    }
    50% {
      transform: translateY(10px) rotateY(360deg);
    }
    100% {
      transform: translateY(0) rotateY(0deg);
    }
  }
</style>
