---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="🤘 | Steven Remenapp">
  <div class="page-border" aria-hidden="true"></div>
  <main class="container">
    <h1>SVG Halftone Borders</h1>
    <h2 class="subheader">Inspiration</h2>
    <p>
      I recently started a screenprinting class at the local art school and fell
      in love with the physical printing process, and the freedom and
      opportunity for happy mistakes that it allows. In particular, I found
      myself interested in the halftone pattern, which we all are likely aware
      of (even if we don't know the name) thanks to pop art. Perhaps the most
      prominent pop artist to use them was <a
        href="https://www.google.com/search?q=roy+lichtenstein&tbm=isch"
        rel="noopener noreferrer"
        target="_blank">Roy Lichtenstein</a
      >. I've also been enjoying Ben Rider's screenprint work, and noticed that
      he sometimes uses halftone patterns as a decorative part of a larger
      whole, or other times as a border, like in his Liz poster in the <a
        href="https://www.benrider.com/Leake-Street-mural"
        rel="noopener noreferrer"
        target="_blank">Leake Street Mural</a
      >. So all off this was in my head, and all the while I've always found a
      border on a webpage fun (so much so that my very first portfolio was
      nothing but borders within borders).
    </p>
    <h2 class="subheader">Question</h2>
    <p>How can we make a halftone border around a webpage?</p>
    <h2 class="subheader">Process</h2>
    <p>
      I know that gradient and image borders via CSS are a thing, so let's start
      there. My first attempt was to use a radial gradient as the
      border-image-source, essentially making a Frankenstein border combining
      the paths suggested by Michelle Barker<sup><a href="#ref-1">1</a></sup> and
      Chris Coyier<sup><a href="#ref-2">2</a></sup>.
    </p>
    <h2 class="subheader">References</h2>
    <ol>
      <li id="ref-1">
        Michelle Barker, <a
          href="https://css-irl.info/css-halftone-patterns/"
          rel="noopener noreferrer"
          target="_blank"><i>CSS Halftone Patterns</i></a
        >
      </li>
      <li id="ref-1">
        Chris Coyier, <a
          href="https://css-tricks.com/gradient-borders-in-css/"
          rel="noopener noreferrer"
          target="_blank"><i>Gradient Borders in CSS</i></a
        >
      </li>
    </ol>
  </main>
</Layout>

<style>
  .subheader {
    text-decoration: underline;
    font-size: 1.25em;
  }

  ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .page-border {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 20px solid transparent;
    border-image: url("/border.svg") 24 round;
  }
</style>
